<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/">about us</a> </li>
            <li> <a href="/">Contact us</a></li>
        </ul>
    </nav>
    <div class="container">

        <h1> this is a paragraph</h1>
        <!-- <h2>
            | #{content}
            
        </h2> -->
        
    </div>
</body>
</html>