*{
    /* font-size: large; */
    color: royalblue;
    margin: 0%;
    padding: 0%;
}

ul{
    display: flex;
    background-color: gray;

}

li{
    list-style: none;
    padding: 9px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


h1,h2{
    text-align: center;
}
.container{
    margin: 12px auto;
}